/***** Accessibility or Functionality related *****/
.clickToEdit .contents:hover,
.clickToEdit .contents.focused {
	background-color: #CCF;
	cursor: pointer;
}

.clickToEdit .contents.focused {
	border: thin solid #66F;
}

/***** Pure visual styling *****/

.clickToEdit,
.clickToEdit input {
	font-family: sans-serif;
	font-size: 1rem;
}

.clickToEdit .display,
.clickToEdit .input {
	padding: 5px;
}

.clickToEdit .title {
	display: inline-block;
	font-weight: 600;
	width: 100px;
}

.clickToEdit .contents {
	display: inline-block;
	padding: 5px;
	border-radius: 5px;
}

.clickToEdit .contents.focused {
	padding: 4px;
}

.clickToEdit input {
	border: thin solid #66F;
	border-radius: 5px;
	padding: 4px;
}
