.error {
	background-color: #F99;
	border-left: 5px solid red;
	padding: 5px;
}

.error > span {
	display: block;
}

[aria-busy="true"] [data-src] {
	display: none;
}

/***** Layout of main elements *****/

body {
	background-color: #FCFCFC;
	font-family: sans-serif;

	margin-left: auto;
	margin-right: auto;
}

main,
aside,
.error {
	display: block;
}

@media all and (min-width: 820px) {
	body {
		width: 800px;
	}

	header {
		width: 100%;
	}

	/* Wrapper for IE11 to handle flexbox layout correctly */
	.container {
		display: flex;
		flex-flow: row nowrap;
		align-items: flex-start;

		width: 100%;
		max-width: 100%;
	}

	main {
		flex: 3;
	}

	aside {
		flex: 1;
	}
}

@media screen and (max-width: 820px) {
	body {
		width: 90%;
	}

	.container {
		display: flex;
		flex-flow: column-reverse;
		align-items: stretch;
		width: 100%;
	}
}

/***** Various styling *****/

body {
	background-color: #EEE;
}

header {
	border-bottom: 3px double black;
}

main {
	margin: 10px auto;
	padding: 10px;
	background-color: #F6F6F6;
	border: thin solid #CCC;
}

aside {
	margin: 10px;
	border: thin solid #CCC;
	padding: 5px;

	background-color: #F6F6F6;
}

main h2 {
	margin: 0;
}

main,
aside,
fieldset {
	border-radius: 10px;
}
